<div class ="container">
  <h1 class="w-100 text-center my-5">焼き肉シミュレーション 順位表</h1>
    <table class="table rank1">
      <tr class="thead-dark">
        <th>Rank</th>
        <th>name</th>
        <th>Score</th>
      </tr>
      <% File.open('result_sort.txt').each_line.with_index(1) do |score, i| %>
        <% result = score.split(",")%>
        <tr>
          <td><%= i %>位</td>
          <td><%= result[1] %></td>
          <td><%= result[0] %></td>
        </tr>
      <%end%>

    </table>
</div>